{% extends 'base.html' %}

{% block title %}Mahsulotni O'chirish{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-danger text-white">
        <h3 class="mb-0">Mahsulotni O'chirish</h3>
    </div>
    <div class="card-body">
        <p class="lead">Haqiqatan ham "<strong>{{ product.name }}</strong>" nomli mahsulotni o'chirmoqchimisiz?</p>
        <p class="text-danger">Bu amalni qaytarib bo'lmaydi.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3"><i class="fas fa-trash-alt"></i> Ha, O'chirilsin</button>
            <a href="{% url 'products:product_detail' product.id %}" class="btn btn-secondary mt-3"><i class="fas fa-ban"></i> Bekor qilish</a>
        </form>
    </div>
</div>
{% endblock %}